@charset "utf-8";

@font-face{
    font-family: webisfree;
    src: url('헬스셋조릿대Std.ttf');

}
@font-face{
    font-family: webisfreed;
    src: url('badal.ttf');
}
#resulttextd{
    font-family: webisfreed; 
    text-align: center;
    font-size: 60px;
}
#resulttext{
    font-family: webisfree; 
    text-align: center;
    font-size: 80px;
}
#imagetext{
    text-align: center;
}
#button{
    font-family: webisfreed;
            background-color: #fff;
            height:20px;
            width:300px;
            padding: 30px;
            color: #000;
            line-height:20px;
            margin-top: 1vh;
            border-radius: 10px;
            font-size:28px;
            font-weight:700;
            border:1px solid black;
            
            margin-bottom: 80px;
}
#title{
    font-family: webisfree;
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
    margin-top:10px;
    color: #FF4F00;
}
#imagebox{
    text-align: center;
}
#button_R{
    font-family: webisfreed; 
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
}
#input{
    display : block;
    text-align: center;
    margin : 0 auto;
    width:200px;
    height:35px;
    font-size: 25px;
}
#timer{
    font-family: webisfreed; 
    margin-top: 0px;
    font-size: 70px;
   
}